/*colors*/
$darkBlue: #16133D;
$silverBlue: #7690A8;
$borderBlue: rgba(21, 101, 216, 0.1);
$greenWhite: #3DB370;
$silverWhite: #E5EAF4;
$whiteSilver: #EFEEF3;
$black: #0D0D0D;
/*fonts*/
$quickSand: 'Quicksand', 'Arial', sans-serif;
$roboto: 'Roboto', 'Arial', sans-serif;
$nunitoSans: 'Nunito Sans', sans-serif;